<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ustory.module_business_one">

    <application>
        <activity android:name=".KotlinDemoActivity" />
        <activity android:name=".view.WeatherActivity"></activity>
    </application>

</manifest>